
body {
  padding: 8px;
  max-width: 624px;
  margin: auto;
  background-color: #ffffff;
  font-size: 16px;
  color: #322947;
  
  overflow-x: hidden;
}

article {
  padding: 8px;
  background-color: #322947;
  color: #ffffff;
}

article a {
  color: #ffffff;
  text-decoration: underline;
}

article a:hover {
  background-color: #ffffff;
  color: #322947;
  text-decoration: none;
}

main img {
  display: inline-block;
  max-width: 100%;
  
}

header div {
  width: 16px;
  height: 16px;
}

header {
  margin: 0 0 8px;
}


a {
    text-decoration: none;
    color: #322947;
  }

  body a.self, body a.parent { font-style:italic }
/* a:active {
    font-style: italic;
  } */

 main a {
    text-decoration: underline;
  }


  
a:hover {
    background-color: #322947;
    color: #ffffff;
    text-decoration: none;
}


th, td {
  border: 1px solid black;
}

thead th {
  width: 25%;
}

/* body img {
  display: inline-block;
} */


nav div {
  display: flex;
  gap: 8px;
  padding-right: 8px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border-bottom: 2px dotted #322947;
  padding-bottom: 8px;
}


header img {
  display: block;
}

header div a {
  text-decoration: none;
}

footer {
  
  width: 100%;
  max-width: 624px;
  
  border-color: #322947;
  border-top: 2px dotted;
  padding: 8px 0 0 0;
}




.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 8px;
    justify-content: left;
    margin-bottom: 4px;
  }
  
  .portfolio-item {
    border: 1px dotted #322947;
    padding: 6px 6px 3px;
    position: relative;
    z-index: 0;
  }

  blockquote p {
    text-decoration: italic;
  }


  .project {
    border: 1px dotted #322947;
    padding: 6px 6px 3px;
  }
  .project img 

  pre {
    display: block;
    margin: 0px;
    background: none;
    white-space: pre;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
  }