

body {
    
    background-color: #fff;
    font-size: 16px;
    color: #322947;
  
    overflow-x: hidden;
}

main {
  max-width: 624px;
}

header div {
  width: 16px;
  height: 16px;
}

header {
  margin: 0 0 20px;
}

a {
    text-decoration: none;
    color: #322947;
  }

  body a.self, body a.parent { font-style:italic }
/* a:active {
    font-style: italic;
  } */

  a.under {
    text-decoration: underline;
  }


  
a:hover {
    background-color: #322947;
    color: #fff;
    text-decoration: none;
}


th, td {
  border: 1px solid black;
}

thead th {
  width: 25%;
}




figure img {
    
    margin-left: -48px;
    max-width:100vw;
    display:inline-block;
    
}


header img {
  display: block;
}

header div a {
  text-decoration: none;
}

footer {
  line-height: 20px;
  border-color: #322947;
  border-top: 1.5px solid;
  padding: 20px 0 0 0;
}

/* .navcontainer {
    top: 0;
    position: fixed;
    width: 100vw;
    z-index: 100;
} */

nav ul {
  padding: 0;
  margin: 0 45px 0px 0;
  list-style-type: none;
  
}

nav {
  display: flex;
    margin: 0 0 30px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}



.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 8px;
    justify-content: left;
    margin-bottom: 4px;
  }
  
  .portfolio-item {
    border: 1px dotted #322947;
    padding: 6px 6px 3px;
    position: relative;
    z-index: 0;
  }