<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TS - {{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <link rel="icon" href="/assets/images/robo4.png" type="image/png">
</head>
<header>
    <a href="/site/home"><img src="/assets/images/robo4.svg" ></a>
</header>
<body>

    <p>{{ .UpdatedAt }}</p>

    <div><img loading="lazy" src="{{.Image}}"></div>

    <main>{{ .Body | markDown }}</main>



   
</body>
</html>