<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TS — {{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <link rel="shortcut icon" href="/assets/images/robo.png" type="image/png">
</head>
<header>
    <a href="/site/home"><img src="/assets/images/robo.svg" ></a>
</header>
<body>

    <p>{{ .UpdatedAt }}</p>

    <figure><img loading="lazy" src="{{.Image}}"></figure>

    <main>{{ .Body | markDown }}</main>



   
</body>
</html>