<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{.Description}}">
    <title>TS — {{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <link rel="shortcut icon" href="/assets/images/robo.png" type="image/png">
</head>
<header>
    <a href="/site/journal">return</a>
</header>
<body>

    

    <!-- <img loading="lazy" src="{{.Image}}"> -->

    <article>
        <h2>{{.Title}}</h2>

        <p><strong>{{ .Date }}</strong></p>
        
        {{ .Body | markDown }}
    
    </article>

    <div class="pagination">
        <a href="{{.PrevUrl}}">prev</a>
        <a href="{{.NextUrl}}">next</a>
    </div>

   
</body>
</html>