<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>ts — {{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
</head>

    <nav>
        
        <a href="/site/home"><img src="/assets/favicon/favicon-16x16.png"></a>
        
        <div>
        <a {{if eq .Title "home"}} class="self" {{end}} href="/site/home">home</a>
        <a {{if or (eq .Title "wiki") (eq .Title "tseeley") (eq .Title "journal")}} class="self"{{end}} href="/site/wiki">wiki</a>
        <a class="clean" href="/site/projects">projects</a>
        </div>

        {{if eq .Title "wiki"}}
            <div>
            <a {{if or (eq .Title "tseeley") (eq .Title "journal") (eq .Title "collections") }} class="self" {{end}} href="/site/tseeley">thomas seeley</a>
            <a class="clean" href="/site/meta">meta</a>
            </div>
        {{else if eq .Title "projects"}}
            <div>
            <a class="clean" href="/site/home">web</a>
            <a class="clean" href="/site/tseeley">physical</a>
            <a class="clean" href="/site/tseeley">photography</a>
            </div>
        {{else if eq .Title "tseeley"}}
            <div>
            <a {{if or (eq .Title "wiki") (eq .Title "tseeley")}} class="self"{{end}} href="/site/tseeley">thomas seeley</a>
            <a class="clean" href="/site/meta">meta</a>
            </div>
            <div>
            <a class="clean" href="/site/journal">journal</a>
            <a class="clean" href="/site/collections">collections</a>
            </div>
        {{else if eq .Title "journal"}}
            <div>
            <a {{if or (eq .Title "wiki") (eq .Title "tseeley") (eq .Title "journal")}} class="self"{{end}} href="/site/tseeley">thomas seeley</a>
            <a class="clean" href="/site/tseeley">meta</a>
            <div>
            <a {{if or (eq .Title "journal")}} class="self"{{end}} href="/site/journal">journal</a>
            <a class="clean" href="/site/collections">collections</a>
            </div>
            </div>
        {{else if eq .Title "collections"}}
            <div>
            <a {{if or (eq .Title "wiki") (eq .Title "tseeley") (eq .Title "journal")}} class="self"{{end}} href="/site/tseeley">thomas seeley</a>
            <a class="clean" href="/site/tseeley">meta</a>
            <a {{if or (eq .Title "journal")}} class="self"{{end}} href="/site/journal">journal</a>
            <a class="clean" href="/site/collections">collections</a>
            </div>
        {{else if eq .Title "meta"}}
            <div>
            <a class="clean" href="/site/home">index</a>
            </div>
        {{end}}

        
            <!-- {{if eq .Title "wiki"}}
                <div>
                    <li><a {{if or (eq .Title "tseeley") (eq .Title "journal") (eq .Title "collections") }} class="self" {{end}} href="/site/tseeley">thomas seeley</a></li>
                    <li><a class="clean" href="/site/meta">meta</a></li>
                </div>
            {{else if eq .Title "projects"}}
                <div>
                    <li><a class="clean" href="/site/home">web</a></li>
                    <li><a class="clean" href="/site/tseeley">physical</a></li>
                    <li><a class="clean" href="/site/tseeley">photography</a></li>
                </div>
            {{else if eq .Title "tseeley"}}
                <div>
                    <li><a {{if or (eq .Title "wiki") (eq .Title "tseeley")}} class="self"{{end}} href="/site/tseeley">thomas seeley</a></li>
                    <li><a class="clean" href="/site/meta">meta</a></li>
                </div>
                <div>
                    <li><a class="clean" href="/site/journal">journal</a></li>
                    <li><a class="clean" href="/site/collections">collections</a></li>
                     <li><a class="clean" href="/site/tseeley">goals</a></li>
                </div>
            {{else if eq .Title "meta"}}
                <div>
                    <li><a {{if or (eq .Title "wiki") (eq .Title "tseeley")}} class="self"{{end}} href="/site/tseeley">thomas seeley</a></li>
                    <li><a class="clean" href="/site/meta">meta</a></li>
                </div>
                <div>
                    <li><a class="clean" href="/site/journal">journal</a></li>
                    <li><a class="clean" href="/site/collections">collections</a></li>
                    
                </div>
            
            {{else if eq .Title "journal"}}
                <ul>
                    <li><a {{if or (eq .Title "wiki") (eq .Title "tseeley") (eq .Title "journal")}} class="self"{{end}} href="/site/tseeley">thomas seeley</a></li>
                    <li><a class="clean" href="/site/tseeley">meta</a></li>
                </ul>
                <ul>
                    <li><a {{if or (eq .Title "journal")}} class="self"{{end}} href="/site/journal">journal</a></li>
                    <li><a class="clean" href="/site/collections">collections</a></li>
                    
                </ul>

            {{else if eq .Title "collections"}}
                <ul>
                    <li><a {{if or (eq .Title "wiki") (eq .Title "tseeley") (eq .Title "journal")}} class="self"{{end}} href="/site/tseeley">thomas seeley</a></li>
                    <li><a class="clean" href="/site/tseeley">meta</a></li>
                </ul>
                <ul>
                    <li><a {{if or (eq .Title "journal")}} class="self"{{end}} href="/site/journal">journal</a></li>
                    <li><a class="clean" href="/site/collections">collections</a></li>
                    
                </ul>
            {{else if eq .Title "meta"}}
                <ul>
                    <li><a class="clean" href="/site/home">index</a></li>
                </ul>
            {{end}} -->

    </nav>


<body>
    <!-- <h1>{{.Title}}</h1> -->


    <main>{{ .Body | markDown }}</main>




    

</body>

<footer></footer>
</html>



<!-- <div>{{printf "%s" .Body}}</div> -->
