<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>TS - {{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>
<header id="navcontainer">
    <div class="square"></div>
</header>
    <nav>
        <ul>
            <li><a {{if eq .Title "home"}} class="self" {{end}} href="/site/home">home</a></li>
            <li><a {{if or (eq .Title "wiki") (eq .Title "tseeley") (eq .Title "journal")}} class="self"{{end}} href="/site/wiki">wiki</a></li>
            <li><a class="clean" href="/site/projects">projects</a></li>
        </ul>  
            {{if eq .Title "wiki"}}
                <ul>
                    <li><a {{if or (eq .Title "tseeley") (eq .Title "journal") (eq .Title "collections") }} class="self" {{end}} href="/site/tseeley">thomas seeley</a></li>
                    <li><a class="clean" href="/site/tseeley">meta</a></li>
                </ul>
            {{else if eq .Title "projects"}}
                <ul>
                    <li><a class="clean" href="/site/home">web</a></li>
                    <li><a class="clean" href="/site/tseeley">physical</a></li>
                    <li><a class="clean" href="/site/tseeley">photography</a></li>
                </ul>
            {{else if eq .Title "tseeley"}}
                <ul>
                    <li><a {{if or (eq .Title "wiki") (eq .Title "tseeley")}} class="self"{{end}} href="/site/tseeley">thomas seeley</a></li>
                    <li><a class="clean" href="/site/tseeley">meta</a></li>
                </ul>
                <ul>
                    <li><a class="clean" href="/site/journal">journal</a></li>
                    <li><a class="clean" href="/site/collections">collections</a></li>
                    <!-- <li><a class="clean" href="/site/tseeley">goals</a></li> -->
                </ul>
            {{else if eq .Title "journal"}}
                <ul>
                    <li><a {{if or (eq .Title "wiki") (eq .Title "tseeley") (eq .Title "journal")}} class="self"{{end}} href="/site/tseeley">thomas seeley</a></li>
                    <li><a class="clean" href="/site/tseeley">meta</a></li>
                </ul>
                <ul>
                    <li><a {{if or (eq .Title "journal")}} class="self"{{end}} href="/site/journal">journal</a></li>
                    <li><a class="clean" href="/site/collections">collections</a></li>
                    <!-- <li><a class="clean" href="/site/tseeley">goals</a></li> -->
                </ul>
            {{else if eq .Title "meta"}}
                <ul>
                    <li><a class="clean" href="/site/home">index</a></li>
                </ul>
            {{end}}
        
    </nav>
    

<body>
    <!-- <h1>{{.Title}}</h1> -->

    <main>{{ .Body | markDown }}</main>

 
    
   
    <!-- <p>[<a href="/edit/{{.Title}}">edit</a>]</p> -->
    
</body>
</html>



<!-- <div>{{printf "%s" .Body}}</div> -->